    header, footer, section, aside, nav, article, figure, figcaption {
            display: block;}
    body {
            color: #6b2c14;
            background-color: #ffffff;
            background-position: center;
            font-family: Georgia, Times, serif;
            line-height: 1.4em;
            margin: 0px;}
    .wrapper {
            width: 940px;
            margin: 20px auto 20px auto;
            border: 2px solid #000000;
            background-color: #ffffff;}

    header {
            height: 175px;
            background-color: rgba(245, 251, 226, 0.69);
    } 

    
    #headerText {
            /*text-indent: 299px;*/
            text-align: center;
            width: 500px;
            height: 50px;
            padding-top: 80px;
            margin: 0px;
            color: #6b2c14;
            font-size: 50px;
            font-family: Verdana, Arial, sans-serif;
            font-stretch: Extended; /*not working?!*/
            display: inline;
            top: 40px;
            left: 20px;
            float: left;
    }

    form {
            width: 165px;
            margin-top: 30px;
	}

    #searchBox {
            width: 80px;
            padding-right: 80px;
            padding-bottom: 20px;
            margin-right: 10px;
            float: left;

    }

    #searchField {

            border-radius: 19px;
            border: 2px solid transparent;
            margin-top: 50px;
            font-size: 18px;
            line-height: 30px;
            background-image: url("../images/zoom-search.png");
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 35px;
    }
    
  
    nav, footer {
            clear: both;
            color: #ffffff;
            background-color: #7FC7C3;
            }
    nav {
            height: 45px;
    }

    #nav-list {
        position: relative;
            margin: 0px;
            padding: 0px 0px 0px 30px;
            text-align: center;
            list-style: none;
            }

    #nav-list li {
        display: inline-block;
         width: 110px;
        text-transform: lowercase;
        letter-spacing: 0.1em;
        position: relative;
    }

    #nav-list li a {
            color: #ffffff;
            line-height: 45px;                               
            display: block;
     }
     
       img:hover {
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    } 
    

    #nav-list li a:hover, #nav-list li a.current {
            color: #000000;

    }

    #nav-list>li>a:hover {
        background: #ffcc99;
    }

    #nav-list .nav-sublist {
        position: absolute; 
        top: 47px;
        color: black;
        display: none;
        list-style: none;
    }

    .nav-sublist li {
        display: block;
        background-color: #7FC7C3;
        border: 1px white solid;
     }


    .nav-sublist li a {
        color: white;

     }
     
     #signup-button, #login-button, #logout-button {
         cursor: pointer;
         line-height: 45px;
     }
     
     #signup-button:hover, #login-button:hover, #logout-button:hover
     {
         background: #ffcc99;
     }
          
    .signup-login-window {
        position: absolute;
        top: 145px;
        left: 320px;
        width: 260px;
        background-color: honeydew;
        border: 1px chocolate solid;
        display: none;
     }
     
     .signup-login-window p {
         padding-left: 15px;
         font-size: 0.8em;
     }
     
     signup-login-window h1 {
         text-align: none;
     }
     
     .close-button {
         border: 1px solid chocolate;
         color: chocolate;
         width: 1.4em;
         height: 1.4em;
         text-align: center;
         position: absolute;
         top: -25px;
         left: 235px;
         background: whitesmoke;
         cursor: pointer;
         font-size: 1.6em;
         border-radius: 50%;
         
     }
     
     #submit2 {
         position: relative;
         left: 25px;
     }
     
     .signup-login-window p, .signup-login-window p a {
         color: chocolate;
     }
     
     .signup-login-window p {
         text-align:  center;
     }
     
     .signup-login-window h1 {
         padding-left: 47px;
     }
     
    .recipe-text {
            color: #792F0C;

    }

    #meal-information {
        margin: 37px 20px 10px 19px;
    }

    .single-recipe {
            width: 450px;
            height: 420px;
            float: left; 
            padding: 30px;

    }

    #portions-amount {
        height: 27px;
        width: 4em;
        border-radius: 25px;
        font-size: 16px;
        text-align: center; 
        position: relative;
        left: 75px;

    }

    .clear {
        clear: left;
    }

    #ingredients-amounts {
           float: left;
    }

    h2 {
            margin-top: 40px;}

    #recipe_links {
        margin: 42px 10px 25px 10px;
        overflow: auto;
        width: 100%;

    }

    figure {
            float: left;
            width: 270px;
            height: 297px;
            padding: 10px;
            margin: 5px;
            border: 1px solid #eeeeee;}
    figcaption {
            font-size: 90%;
            text-align: center;}

    .main_page_recipe {
        width: 290px;
        float: left;
    }

    a {
            color: #6b2c14;
            text-decoration: none;}
    h1, h2, h3 {
            font-weight: normal;}
    h2 {
            margin: 10px 0px 5px 0px;
            padding: 0px;}
    h3 {
            margin: 0px 0px 10px 0px;
            color: #6b2c14;}

    #navigation-top {
            text-align: center;
           margin: 30px;

    }

    #navigation-top a {
            text-decoration: underline;
    }

    #navigation-top a:hover {
            text-decoration: none;
            color: #c15024;
    }
    footer {
            font-size: 80%;
            padding: 12px 55px 5px 30px;
            height: 45px;
            }

    #todaysDate {
            display: inline;
    }

    #copyright {
            float: right;
    }



    span {
            color: #871919;
            font-style: italic;
            font-weight: bold;
    }

     .method-comments {
        margin-left: 33px;
    }

    #commentSection {
            padding-bottom: 30px;
    }

    iframe {
        margin: 30px 10px 40px 30px;

    }

    input {
            font-size: 120%;
            color: #5a5854;
            background-color: #f2f2f2;
            border: 1px solid #bdbdbd;
            border-radius: 5px;
            padding: 5px 10px 5px 10px;
            background-repeat: no-repeat;
            background-position: 8px 9px;
            display: block;
            margin-bottom: 10px;}
    input#submit-comments {
            color: #444444;
            text-shadow: 0px 1px 1px #ffffff;
            border-bottom: 2px solid #b2b2b2;
            background-color: #b9e4e3;
            background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
            background: -moz-linear-gradient(top, #beeae9, #a8cfce);
            background: -o-linear-gradient(top, #beeae9, #a8cfce);
            background: -ms-linear-gradient(top, #beeae9, #a8cfce);}
    input#submit:hover {
            color: #333333;
            border: 1px solid #a4a4a4;
            border-top: 2px solid #b2b2b2;
            background-color: #a0dbc4;
            background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
            background: -moz-linear-gradient(top, #a8cfce, #beeae9);
            background: -o-linear-gradient(top, #a8cfce, #beeae9);
            background: -ms-linear-gradient(top, #a8cfce, #beeae9);}

    
    #exotic-list {
        list-style: none;
    }
    
    #exotic-list span {
        padding: 3em;
    }

/*remove later THIS IS JUST TEMPORAY FOR FORUM*/ 
th { color:#FFF; background:#000; text-align:left; }
td { border-bottom:1px solid black; background: bisque; padding:3px; text-align:left; vertical-align:top;}